// Colors
$bgBlue: #0063B0;
$formBorder: #F0F0F0;
$borderColor: #CDCFD1;
$bgBlocked: #646464;
$textGray: #535B63;
$textBlue: #005FAF;

// Font sizes
@mixin header {
  font-size: 36px;
  font-weight: normal;
  color: $textGray;
}
@mixin text {
  font-size: 14px;
  color: $textGray;
}
@mixin formText {
  font-size: 15px;
  color: $textGray;
}
@mixin textLink {
  font-size: 15px;
  color: $textBlue;
}
@mixin smallHeader {
  font-size: 20px;
  color: $textGray;
}

// elements

.btn {
  &.dx-button {
    width: 230px;
    min-height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    border: 1px solid $bgBlue;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $bgBlue;
    cursor: pointer;
    transition: 0.3s;
    .dx-button-content {
      padding: 0;
      line-height: 21px;
    }
    &.dx-state-focused {
      border: 1px solid $bgBlue;
      background-color: $bgBlue;
    }
    &.dx-state-hover {
      background-color: #023E83;
      border-color: #023E83;
      color: #fff;
    }
    &.dx-state-active {
      background-color: #002957;
      border-color: #002957; 
      color: #fff;
    }
    &.btn-outline {
      color: #565656;
      border: 1px solid $borderColor;
      background-color: transparent;
      &.dx-state-focused {
        border: 1px solid $borderColor;
        background-color: transparent;
      }
      &.dx-state-hover {
        border-color: $borderColor;
        background-color: #F5F5F5;
        color: #3C3C3C;
      }
      &.dx-state-active {
        background-color: #E0E0E0;
        border-color: $borderColor;
        color: #000000;
      }
    }
    &.dx-state-disabled {
      border-color: $borderColor !important;
      background-color: #DBE2E6 !important;
      color: #97A1A7 !important;
      cursor: not-allowed;
    }
  }
  
  width: 230px;
  min-height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  border: 1px solid $bgBlue;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $bgBlue;
  cursor: pointer;
  transition: 0.3s;
  &:disabled {
  }
  &:hover {
    background-color: #023E83;
    border-color: #023E83;
  }
  &:active {
    background-color: #002957;
    border-color: #002957; 
  }
  &-outline {
    color: #565656;
    border: 1px solid $borderColor;
    background-color: transparent;
  }
  &-outline:hover {
    border-color: $borderColor;
    background-color: #F5F5F5;
    color: #3C3C3C;
  }
  &-outline:active {
    background-color: #E0E0E0;
    border-color: $borderColor;
    color: #000000;
  }
}

.link-btn {
  @include textLink;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-field {
  display: block;
  &:has(&__tip) {
    display: flex;
  }
  &-input {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  &-radio,
  &-checkbox {
    display: flex;
  }
  & .field-radio,
  & .field-checkbox {
    margin-right: 15px;
  }
  &-fullwidth {
    width: 100%;
  }
  &__title {
    @include formText;
  }
  &__tip {
    text-align: right;
    font-size: 12px;
    color: #4C4C4C;
  }
}

.field-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  .dx-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #6CA9D2;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    & + label {
      position: absolute;
      width: 18px;
      height: 18px;
      left: 1px;
      top: 1px;
      pointer-events: none;
      svg {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.dx-checkbox-checked {
      background-color: #6CA9D2;
      & + label svg {
        opacity: 1;
      }
    }
    &.dx-state-disabled {
      background-color: #DBE2E6;
      border-color: #DBE2E6;
    }
    &.dx-state-disabled.dx-state-checked {
      & + label svg {
        opacity: 1;
        fill: #97A1A7;
      }
    }
    &:focus,
    &:hover:not(.dx-state-disabled) {
      box-shadow: 0 0 0px 5px #DDF1FF;
      border: none;
    }
  }
}

.field-radio {
  position: relative;
  display: inline;
  input {
    opacity: 0;
    &:focus:not(:checked) + label,
    &:hover:not(:checked) + label {
      box-shadow: 0 0 0px 5px #DDF1FF;
      border: none;
    }
    &:checked + label {
      border-width: 3px;
      &:after {
        opacity: 1;
      }
    }
    &:disabled + label {
      background-color: #DBE2E6;
      border-color: #DBE2E6;
      &:after {
        opacity: 0;
      }
    }
    &:disabled:checked + label:after {
      opacity: 1;
      background-color: #97A1A7;
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #6CA9D2;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #6CA9D2;
      opacity: 0;
    }
  }
}

.field__input {
  position: relative;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  &-error {
    &:after {
      content: url(assets/img/input-error.svg);
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 13px;
      right: 20px;
    }
    input, textarea {
      border: 1px solid #DD191D !important;
    }
  }
  &.field__textarea {
    width: 100%;
  }
  input, textarea {
    width: 100%;
    height: 46px;
    border: 1px solid $borderColor;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: 0.2s;
    &:focus,
    &:hover:not(:disabled) {
      border-color: transparent;
      box-shadow: 0 0 0px 5px #DDF1FF;
    }
    &:disabled {
        background-color: #E9ECEE;
        color: #576472;
        & + label {
          color: #576472;
        }
    }
  }
  textarea {
    width: 100%;
    height: auto;
    resize: none;
    // overflow: hidden;
  }
  .field__placeholder {
    position: absolute;
    top: 12px;
    left: 22px;
    font-size: 14px;
    line-height: 22px;
    color: $textGray;
    transition: transform 0.4s;
    pointer-events: none;
  }
  .dx-textbox {
    &:not(.dx-texteditor-empty) + .field__placeholder,
    &.dx-state-focused + .field__placeholder,
    &.dx-state-disabled + .field__placeholder {
      color: #969696;
      transform: translate(-15%, -15px) scale(0.7);
    }
  }
}

// styles


body, html {
  font-family: 'Roboto';//, Helvetica Neue ,Helvetica ,sans-serif; 
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.hr {
  margin: 200px 0;
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.login-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  max-width: 100%;
  border: 5px solid $borderColor;
  padding: 40px 50px;
  box-sizing: border-box;
  &__title {
    @include header;
    margin-bottom: 10px;
  }
  &__subtitle {
    @include text;
    text-align: center;
    max-width: 160px;
    margin-bottom: 60px;
  }
  &__icon {
    margin-bottom: 40px;
  }
  &__text {
    @include text;
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn {
    width: 100%;
    margin-bottom: 20px;
  }
  &__link-back-btn {
    margin-top: 40px;
  }
}

.modal {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 680px;
  max-width: 100%;
  border: 5px solid $borderColor;
  padding: 40px;
  box-sizing: border-box;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title {
    @include header;
  }
  &__promt {
    margin-bottom: 40px;
  }
  &__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  & .form-field {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__radio-group {
    margin-left: 30px;
    margin-bottom: 40px;
    & .form-field {
      margin-bottom: 25px;
    }
  }
  &__center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__two-cols {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & .link-btn {
      margin-left: 40px;
    }
    & .form-field-input:first-child {
      min-width: 280px;
      margin-bottom: 0;
    }
    & .form-field:last-child {
      margin-left: 40px;
      max-width: 50%;
    }
  }
  &__btn-back {
    display: block;
    width: 10px;
    height: 16px;
    background-color: transparent;
    border: none;
    margin-right: 40px;
    cursor: pointer;
    img {
      user-select: none;
    }
  }
  &__text {
    @include formText;
    margin-bottom: 40px;
  }
  &__container {
    margin: 0 50px;
  }
  &__radio-block {
    max-height: 276px;
    overflow-y: auto;
    padding: 22px 20px;
    border: 1px solid $borderColor;
    & > div {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__btn-below {
    display: flex !important;
    margin: 40px auto 0;
  }
}

.popup {
  position: relative;
  border: 5px solid $borderColor;
  padding: 40px 95px;
  width: 722px;
  max-width: 100%;
  box-sizing: border-box;
  &__title {
    @include smallHeader;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
  }
  &__line {
    margin-bottom: 40px;
    border-top: 1px solid #97A1A7;
  }
  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    &-space {
      justify-content: space-between;
    }
  }
  & .btn {
    margin-bottom: 30px;
  }
  &__two-cols {
    display: flex;
    justify-content: space-between;
    & .btn {
      margin-bottom: 0;
    }
  }
  &__btn-close {
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    img {
      user-select: none;
    }
  }
  &__text {
    font-size: 15px;
    color: $textGray;
    line-height: 20px;
    p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  a {
    @include textLink;
    text-decoration: none;
  }
  ol {
    margin-left: 30px;
    li {
      padding-left: 5px;
    }
  }
}


.promt {
  position: relative;
  // width: 480px;
  width: 100%;
  max-width: 100%;
  padding: 20px 30px 30px 67px;
  border: 1px solid #DBE2E6;
  box-sizing: border-box;
  &:after {
    position: absolute;
    top: 15px;
    left: 30px;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
  }
  &-warning {
    border-top: 6px solid #FFC300;
    &:after {
      content: url(assets/img/promt-warning.svg);
    }
  }
  &-danger {
    border-top: 6px solid #DB4056;
    &:after {
      content: url(assets/img/promt-danger.svg);
    }
  }
  &-success {
    border-top: 6px solid #84BF41;
    &:after {
      content: url(assets/img/promt-success.svg);
    }
  }
  &__title {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    color: #4C4C4C;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 4px solid $bgBlue;
  box-sizing: border-box;
  &__container {
    width: 1080px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    margin-right: 55px;
    @include textLink;
    text-decoration: none ;
    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      margin-right: 10px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #fff;
  background-color: $bgBlue;
  box-sizing: border-box;
}

// mobile
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    &__container {
      padding: 15px;
      flex-direction: column;
    }
    &__nav {
      flex-direction: column;
      margin: 0;
    }
    &__item {
      margin:10px 0 0;
      &:first-child {
        margin-right: 0;
      }
      img {
        display: none;
      }
    }
  }
  .popup {
    padding: 50px 15px 15px;
    border-width: 3px;
    &__btn-close {
      top: 15px;
      right: 15px;
    }
    &__two-cols {
      flex-direction: column;
      & > *:first-child {
        margin-bottom: 15px;
      }
      & > * {
        width: 100%;
      }
    }
    &__actions-space {
      flex-direction: column;
      .btn {
        margin-bottom: 15px;
      }
    }
  }
  .modal {
    padding: 15px;
    border-width: 3px;
    &__title {
      font-size: 24px;
    }
    &__header {
      margin-bottom: 35px;
    }
    &__promt,
    &__text {
      margin-bottom: 20px;
    }
    &__btn-below {
      margin: 20px auto 0;
    }
    &__heading {
      font-weight: normal;
    }
    &__two-cols {
      flex-direction: column;
      & > *:first-child {
        margin-bottom: 15px !important;
      }
      & > * {
        width: 100%;
        max-width: initial !important;
        margin-left: 0 !important;
      }
      .link-btn {
        margin: 0;
      }
    }
    &__container {
      margin: 0 20px;
    }
    &__radio-group {
      margin-left: 0;
    }
  }
  .form-field-input {
    width: 100%;
  }
  .promt {
    padding: 15px 15px 15px 35px;
    &:after {
      left: 6px;
    }
  }
  .login-modal {
    padding: 15px;
    &__link-back-btn {
      margin-top: 20px;
    }
  }
  .btn {
    width: 100%;
  }
  .field__textarea {
    textarea {
      min-height: 80px;
    }
  }
}